.container{
    border: 2rem solid hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
}

.card-img-top{
    border-radius: 1rem;
}

body{
    background-color: hsl(30, 18%, 87%);
    border-top: 3rem solid hsl(30, 18%, 87%);
    border-right: 2rem solid hsl(30, 18%, 87%);
    border-left: 2rem solid hsl(30, 18%, 87%);
   
}

.attribution{
    padding: 3rem 0 0 0;
}

main{
    font-family: "Outfit";
}

h4{
    color: hsl(14, 45%, 36%);
    font-weight: 700;
    font-family: "Young Serif";
}

h5{
    color: hsl(332, 51%, 32%);
    font-weight: 600;
}

h3{
    color: hsl(332, 51%, 32%);
    font-weight: 700;
    font-family: "Young Serif";
    font-size: 3em;
}

.preparation{
    padding: 0 0 0 5%;
}

ol{
    display: inline-block;
}

li{
    padding: 0 0 0 1.5%;
}

.detach{
    font-family: "Young Serif";
    color: hsl(332, 51%, 32%);
    font-weight: 600;
}

